.customSelect {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 20%;

  &__label {
    padding: 2rem 3rem;
    background-color: var(--backgroundColor);
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__expandButton {
    position: absolute;
    right: 3%;
    top: 50%;
    transition: transform 0.3s ease;

    &--expanded {
      transform: rotate(0);
    }

    &--hidden {
      transform: rotate(180deg);
    }
  }

  &__menu {
    position: absolute;
    background-color: var(--backgroundColor);
    top: 100%;
    border-radius: 3rem;
  }

  &__item {
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(190, 216, 255, 0.2);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.expandMenu {
  &-enter-from,
  &-leave-to {
    transform: translateY(-20);
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: all 0.3s ease;
  }
}
