.navList {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;

  &__item {
    list-style: none;
    font-size: 2.25rem;
    font-family: var(--fontMedium);
    color: var(--textColor);
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accentColor);
    }
  }
}
