.button {
  padding: 14px 11px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: none;
  outline: 1px solid var(--accentColor);
  font-family: var(--fontRegular);
  line-height: 100%;
}
