.contentBar {
  display: flex;
  align-items: center;
  padding: 18px 11px;
  background-color: #fff;
  border-radius: 4rem;
  max-height: 60px;

  -webkit-box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.6);

  @media (max-width: 650px) {
    max-height: max-content;
  }
}
