.aboutCompany {
  display: flex;
  flex-direction: column;
  gap: 12px;

  position: relative;
  margin-top: 5rem;
  height: 100%;
  padding: 5rem;
  background: url("~/public/assets/cheep.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;

  @media (max-width: 990px) {
    background-size: 40%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("~/public/assets/aboutCompanyBg1.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 4rem;
    z-index: -1;
  }

  // Второй фон поверх первого
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("~/public/assets/aboutCompanyBg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 4rem;
    z-index: -1;
  }

  &__title {
    color: #fff;
  }

  &__subtitle {
    font-size: 20px;
    color: #fff;

    @media (max-width: 1100px) {
      width: 80%;
    }
  }
}
