.countryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  padding: 30px 64px;
  background-color: #fff;
  width: 19%;
  height: 225px;
  transition: all 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);

  &:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.9);
    -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.9);
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.9);
  }

  &__countryTitle {
    font-size: 3rem;
    font-family: var(--fontSemibold);
  }

  &__countryCapital {
    font-size: 18px;
    font-family: var(--fontRegular);
    color: var(--textColor);
  }
}
