.feedbackDetails {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75%;
  padding: 3.1rem 5rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("~/public/assets/feedbackDetails__bg.png") no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 4rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: url("~/public/assets/feedbackDetails__bg2.png") no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 4rem;
  }

  &__title {
    color: #fff;
  }

  &__subtitle {
    color: #fff;
    font-weight: 100;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__form {
    width: 40%;
    background-color: #fff;
    border-radius: 3rem;
  }
}
