.formRenderer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--row {
      flex-direction: row-reverse;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;
    }

    &--phone {
      flex-direction: column;
    }
  }

  &__label {
    font-family: var(--fontRegular);
    font-size: 14px;
    color: var(--accentColor);
  }

  &__fileWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    outline: none;
    border: none;
    font-size: 14px;
    font-family: var(--fontRegular);
    padding: 2rem 3rem;
    border-radius: 3rem;
    transition: outline 0.3s ease;

    &:focus {
      outline: 1px solid var(--accentColor);
    }

    &--phone {
      width: 100%;
    }

    &--textarea {
      display: block;
      width: 100%;
      min-height: 300px;
      height: 300px;
      max-height: 300px;
      resize: vertical;
    }

    &--file {
      background-color: var(--accentColor);
      color: #fff;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        outline: 1px solid var(--accentColor);
        color: var(--accentColor);
      }
    }

    &--checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 4rem;
      padding: 0;
      border: 1px solid var(--backgroundColor);
      outline: 1px solid #919191;

      &:checked {
        background-color: var(--accentColor);

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 6px;
          height: 14px;
          border: solid white;
          border-width: 0 3px 3px 0;
        }
      }
    }
  }

  &__button {
    bottom: 0;
    background-color: var(--accentColor);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: transparent;
      color: var(--accentColor);
    }
  }
}

.textType {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
}
