.footerWrapper {
  background-color: #3f3fe6;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  @media (max-width: 830px) {
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    color: #fff;
  }

  &__top {
    display: grid;
    grid-template-columns: 0.4fr auto auto auto;
    justify-content: space-between;

    @media (max-width: 860px) {
      grid-template-columns: auto auto auto auto;
      gap: 1rem;
    }

    @media (max-width: 650px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    @media (max-width: 530px) {
      gap: 5rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
  }

  &__flags {
    width: 35%;
    gap: 12px;

    @media (max-width: 650px) {
      width: 20rem;
    }
  }

  &__subtitle {
    font-family: var(--fontRegular);
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  list-style: none;

  &--row {
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__title {
    font-family: var(--fontSemiBold);
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    font-size: 2rem;
    color: #fff;
    line-height: 24px;
    font-weight: 100;
    font-family: var(--fontRegular);
    transition: transform 0.1s ease;

    &--link {
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }

    &--privacy {
      font-size: 14px;
      color: #fff;
      font-weight: 100;
      font-family: var(--fontRegular);
    }
  }
}

.privacy {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 3rem 0;
  margin-top: 2rem;

  &__item {
    font-size: 14px;
    color: #fff;
    font-weight: 100;
    font-family: var(--fontRegular);
    transition: transform 0.1s ease-in;

    &--link {
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// .icon {
//   width: 10%;
// }
