.countryLabel {
  position: absolute;
  right: 5%;
  top: 15.5%;
  width: 162px;
  height: 87px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 11px 15px;
  border-radius: 2rem;

  &__text {
    font-size: 12px;
    font-family: var(--fontMedium);
  }

  &__flags {
    display: flex;
    gap: 1rem;

    img {
      width: 100%;
      height: 15%;
      object-fit: contain;
    }
  }
}

.header__wrapper {
  height: 100vh;
  background-color: #f4f8fe;
  background: url("~/public/assets/header__bg.png") no-repeat;
  background-position: 100%;
  background-size: contain;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;

  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__contentBarWrapper {
    display: flex;
    flex-direction: row;
    gap: 20rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  &__controls {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__phone {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fontRegular);
    color: #0f1729;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accentColor);
    }
  }

  &__subtitle {
    margin-top: 3rem;
  }

  &__button {
    cursor: pointer;
    transition: all 0.3s ease;

    &--fill {
      background-color: var(--accentColor);

      &:hover {
        background-color: transparent;
        color: var(--accentColor);
      }
    }

    &--notFill {
      background-color: transparent;
      outline: 1px solid var(--accentColor);
      color: var(--accentColor) !important;

      &:hover {
        background-color: var(--accentColor);
        color: #fff !important;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__label {
    font-family: var(--fontRegular);
    font-size: 18px;
    color: var(--textColor);
  }
}
