@keyframes menuAppear {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.countryLabel {
  position: absolute;
  right: 5%;
  top: 15.5%;
  width: 162px;
  height: 87px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 11px 15px;
  border-radius: 2rem;

  &__text {
    font-size: 12px;
    font-family: var(--fontMedium);
  }

  &__flags {
    display: flex;
    gap: 1rem;
    height: 2rem !important;
  }

  @media (max-width: 1260px) {
    top: 30%;
  }

  @media (max-width: 700px) {
    background-color: #c5c5c5;
    top: 70%;
    left: 2%;
    display: none;
  }
}

.header__wrapper {
  height: 100vh;
  background-color: #f4f8fe;
  background: url("~/public/assets/header__bg.png") no-repeat;
  background-position: 100%;
  background-size: contain;

  @media (max-width: 1260px) {
    background-size: 60%;
  }

  @media (max-width: 700px) {
    background-position: 100% 85%;
    background-size: 70%;
    background: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;

  &__head {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__contentBarWrapper {
    display: flex;
    flex-direction: row;
    gap: 20rem;

    @media (max-width: 1260px) {
      gap: 10rem;
    }

    @media (max-width: 1120px) {
      gap: 2rem;
      display: none;
      background-color: #fff;
      transition: all 0.3s ease;

      &--expanded {
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 4rem;
        padding: 1rem;
        right: 5%;
        animation: menuAppear 0.3s forwards;
        background-color: rgba(34, 60, 80, 0.2);
      }
    }

    @media (max-width: 650px) {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  &__controls {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;

    @media (max-width: 420px) {
      margin-top: 10rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__phone {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fontRegular);
    color: #0f1729;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accentColor);
    }

    @media (max-width: 440px) {
      font-size: 1.5rem;
    }

    @media (max-width: 400px) {
      display: none;
    }
  }

  &__subtitle {
    margin-top: 3rem;

    @media (max-width: 1120px) {
      max-width: 500px;
    }

    @media (max-width: 700px) {
      max-width: 350px;
    }
  }

  &__button {
    cursor: pointer;
    transition: all 0.3s ease;

    &--fill {
      background-color: var(--accentColor);

      &:hover,
      &:focus {
        background-color: transparent;
        color: var(--accentColor);
      }
    }

    &--notFill {
      background-color: transparent;
      outline: 1px solid var(--accentColor);
      color: var(--accentColor) !important;

      &:hover,
      &:focus {
        background-color: var(--accentColor);
        color: #fff !important;
      }
    }

    @media (max-width: 440px) {
      font-size: 1.5rem;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    gap: 5rem;

    @media (max-width: 520px) {
      gap: 0;
    }

    @media (max-width: 420px) {
      flex-direction: column;
      gap: 5rem;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  &__label {
    font-family: var(--fontRegular);
    font-size: 18px;
    color: var(--textColor);
  }

  @media (max-width: 420px) {
    justify-content: flex-start;
  }
}

.burger {
  display: none;
  width: 25px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;

  &__line {
    position: absolute;
    left: 5px;
    height: 2px;
    width: 100%;
    transition:
      transform 0.3s,
      opacity 0.3s;
    background: var(--accentColor);

    &:nth-child(1) {
      top: 8px;
    }
    &:nth-child(2) {
      top: 14px;
    }
    &:nth-child(3) {
      top: 20px;
    }
  }

  &--active {
    .burger__line {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }

  @media (max-width: 1120px) {
    display: block;
  }
}
