.question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--backgroundColor);

  padding: 3rem 0;
  transition: all 0.3s ease;

  &:last-child {
    border-bottom: 1px solid var(--backgroundColor);
  }

  &--opened {
    background-color: var(--backgroundColor);
    border-radius: 3rem;
    padding: 3rem 2rem;
    min-height: auto;
  }

  &__questNumber {
    font-size: 2rem;
  }

  &__textWrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 870px) {
      gap: 2rem;
    }
  }

  &__text {
    color: var(--accentColor);
    width: 100%;
  }

  &__answer {
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
    z-index: -1;
    bottom: 0%;
    transform: translateY(25%);
    font-size: 2rem;
    opacity: 0;
    color: var(--textColor);
    transition: transform 0.3s ease;

    &--visible {
      z-index: 1;
      opacity: 1;
      transform: translateY(0%);
    }
  }

  &__toggleButtonWrapper {
    // position: relative;
    width: 20%;
    height: 20%;

    @media (max-width: 1000px) {
      width: 30%;
      height: 30%;
    }

    @media (max-width: 630px) {
      width: 40%;
      height: 40%;
    }

    @media (max-width: 480px) {
      width: 50%;
      height: 50%;
    }
  }

  &__toggleButton {
    position: relative;
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease;
    justify-self: end;
    align-self: start;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.answerAppear {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.1s ease;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.questionResize {
  &-enter-active,
  &-leave-active {
    transition: all 0.1s ease;
  }
}
