.phoneInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  background-color: var(--backgroundColor);

  &__input {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    outline: none;
    border: none;
    font-size: 14px;
    font-family: var(--fontRegular);
    padding: 2rem 3rem;
    border-radius: 3rem;
    transition: outline 0.3s ease;

    &:focus {
      outline: 1px solid var(--accentColor);
    }
  }
}
