@font-face {
  font-family: "Manrope-SemiBold";
  src: url("/public/fonts/Manrope-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("/public/fonts/Manrope-ExtraBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("/public/fonts/Manrope-Medium.ttf") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope-Regular";
  src: url("/public/fonts/Manrope-Regular.ttf") format("woff2");
  font-weight: 400;
}
