:root {
  --baseFontSize: 8px;
  --baseFontFamily: sans-serif;
  --baseLineHeight: 1.5;
  --baseFontWeight: normal;

  --baseBorderRadius: 1.25rem;

  --accentColor: #00005c;
  --textColor: #65758b;
  --backgroundColor: #f4f8fe;
  --outlineColor: #00005c;

  --fontMedium: "Manrope-Medium", system-ui, sans-serif;
  --fontSemibold: "Manrope-SemiBold", system-ui, sans-serif;
  --fontRegular: "Manrope-Regular", system-ui, sans-serif;
  --fontExtra: "Manrope-ExtraBold", system-ui, sans-serif;
}
